.my-text {
  margin-bottom: 70px ;
  color: #363636;
  margin-top: 25px;
  font-family: 'Inter', sans-serif;
}

.my-p {
  color: #5b5656;
  font-family: 'Inter', sans-serif;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  color: #545353;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out, bounce 2s infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}

.product-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
  background-color: #ebeaea;
  padding: 15px;
}

.product-card:hover {
  transform: scale(1.03);
}

.image-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  font-size: 0.9rem;
  color: #29a2cd;
  font-family: 'Inter', sans-serif;
}

.card-body {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-text {
  font-size: 0.9rem;
  color: #333;
  font-weight: bold;
}

.remove-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.remove-btn:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.remove-btn:active {
  transform: scale(0.95);
}

.rating fa-icon {
  font-size: 0.7rem;
  margin-right: 2px;
}

.text-warning {
  color: rgb(228, 167, 14) !important;
}

.text-muted {
  color: lightgray !important;
}
