<div class="container">
  <div class="header-container">
  <h2 class="text-center my-text" style="margin-top: 30px;">{{ categoryName }} Products</h2>

    <!-- Sorting Dropdown -->
    <select class="form-select w-auto" [(ngModel)]="selectedSort" (change)="sortProducts()" style="  background-color: #ebeaea; margin-top: 40px;">
      <option value="popular">Popular</option>
      <option value="topRated">Top Rated</option>
      <option value="lowToHigh">Price: Low to High</option>
      <option value="highToLow">Price: High to Low</option>
    </select>
  </div>
  <div class="row gy-4" style="margin-bottom: 50px; margin-top: 30px;">
    <div class="col-lg-2 col-md-3 col-sm-6" *ngFor="let product of products">
      <div class="card product-card" (click)="viewProductDetails(product)">


        <div class="image-container">
          <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">

          <div class="icon-container">
            <button class="btn btn-light icon-btn" (click)="toggleFavorite(product, $event)">
              <fa-icon [icon]="faHeart" [ngClass]="{ 'text-danger': isFavorite(product.id), 'text-muted': !isFavorite(product.id) }"></fa-icon>
            </button>
            <button class="btn btn-light icon-btn"  (click)="addToCart(product, $event)" >
              <fa-icon [icon]="faShoppingCart" class="text-dark"></fa-icon>
            </button>
            <button class="btn btn-light icon-btn" (click)="viewProductDetails(product); $event.stopPropagation()">
              <fa-icon [icon]="faEye" class="text-dark"></fa-icon>
            </button>
          </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>

          <!-- Rating -->
          <div class="rating" style="margin-top: 10px;">
            <fa-icon *ngFor="let star of [1,2,3,4,5]" [icon]="faStar" [ngClass]="{ 'text-warning': star <= product.rating, 'text-muted': star > product.rating }"></fa-icon>
          </div>
          <p class="price" style="margin-top: 10px; font-size: 1rem;">{{ product.price | currency:'EGP':'symbol' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
