<div class=" w-75 mx-auto " style="">
        
<div class="d-flex flex-column justify-content-center align-items-center mx-auto w-75">
    <div class="p-4 m-4  bg-white">
        <h3>Sign Up</h3>
        <p class="text-secondary">Create New Account</p>
        <input type="text" placeholder="First Name" class="w-100 px-2 py-1 my-2">

        <input type="text" placeholder="Last name" class="w-100 px-1 py-1 my-2">
        <input type="text" placeholder="Email" class="w-100 px-2 py-1 my-2">
        <input type="text" placeholder="Password" class="w-100 px-2 py-1 my-2">
        <input type="text" placeholder="Confirm Password" class="w-100 px-2 py-1 my-2">
        <input type="text" placeholder="Phone Number (+20)" class="w-100 px-2 py-1 my-2">
        
        <div class="d-flex my-2 align-items-center">
            <h6 class="text-secondary my-1 me-2">Gender: </h6>
            <!-- <label for="gender" class="form-label me-2">Gender:</label> -->
        <select name="gender" class="form-select w-25">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>

        </div>
        <div class="d-flex justify-content-center">
         <hr class="flex-grow-1 me-2">
         <p>OR</p>
         <hr class="flex-grow-1 ms-2">
        </div>
        <a href="#" class="text-decoration-none">
            <div class="d-flex justify-content-center align-items-center w-100 border border-1 border-secondary-subtle  p-2 rounded-3">
                <img src="assets/images/facebook.svg" class="me-2" style="width: 30px; " alt="">
                <p class="text-secondary m-0">Sign Up with Facebook</p>
            </div>
        </a>
        <a href="#" class="text-decoration-none">
            <div class="d-flex justify-content-center align-items-center w-100 border border-1 border-secondary-subtle my-3 p-2 rounded-3">
                <img src="assets/images/google.svg" class="me-2" style="width: 30px;" alt="">
                <p class="text-secondary m-0">Sign Up with Google</p>
            </div>
        </a>
        <a href="#" class="text-decoration-none">
            <div class="d-flex justify-content-center align-items-center w-100 border border-1 border-secondary-subtle  p-2 rounded-3">
                <img src="assets/images/email.svg" class="me-2" style="width: 30px;" alt="">
                <p class="text-secondary m-0">Sign Up with Email</p>
            </div>
        </a>
    </div>
    <p>already have account? <a href="#" class="text-primary text-decoration-none">sign in!</a></p>
    
</div>

</div>