<div class="container my-5">
    <h2 class="text-center my-2">Our Team</h2>

    <div id="teamCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#teamCarousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#teamCarousel" data-bs-slide-to="1"></button>
        </div>

        <div class="carousel-inner mt-3" style="height: 50vh;">

            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="team-card">
                            <img src="https://www.shutterstock.com/image-photo/portrait-young-smiling-caucasian-man-600nw-1491969899.jpg" alt="Omar Alsayed">
                            <h5>Omar Alsayed</h5>
                            <div class="social-icons">
                                <img src="assets/images/x.png" alt="X">
                                <img src="assets/images/insta.png" alt="Instagram">
                                <img src="assets/images/in.png" alt="LinkedIn">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-card">
                            <img  src="https://www.shutterstock.com/image-photo/cheerful-brunette-business-woman-student-600nw-2246174263.jpg" alt="Reem Ayman">
                            <h5 class="my-2">Reem Ayman</h5>
                            <div class="social-icons">
                                <img src="assets/images/x.png" alt="X">
                                <img src="assets/images/insta.png" alt="Instagram">
                                <img src="assets/images/in.png" alt="In">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-card">
                            <img src="https://www.shutterstock.com/image-photo/portrait-young-smiling-caucasian-man-600nw-1491969899.jpg" alt="Tadros">
                            <h5 class="my-2">Tadros Nasr</h5>
                            <div class="social-icons">
                                <img src="assets/images/x.png" alt="X">
                                <img src="assets/images/insta.png" alt="Instagram">
                                <img src="assets/images/in.png" alt="LinkedIn">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="team-card">
                            <img src="https://www.shutterstock.com/image-photo/portrait-young-smiling-caucasian-man-600nw-1491969899.jpg" alt="Ahmed">
                            <h5 class="my-2">Ahmed Mohammed</h5>
                            <div class="social-icons">
                                <img src="assets/images/x.png" alt="X">
                                <img src="assets/images/insta.png" alt="Instagram">
                                <img src="assets/images/in.png" alt="LinkedIn">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-card">
                            <img src="https://www.shutterstock.com/image-photo/cheerful-brunette-business-woman-student-600nw-2246174263.jpg" alt="Sara">
                            <h5 class="my-2">Radwa Mansour</h5>
                            <div class="social-icons">
                                <img src="assets/images/x.png" alt="X">
                                <img src="assets/images/insta.png" alt="Instagram">
                                <img src="assets/images/in.png" alt="LinkedIn">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#teamCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>
