<div class="container">
    <div class=" text-white row justify-content-center align-items-center">
        <div class="col-0 col-md-6 d-flex flex-column gap-3 ps-xl-0 ps-4">
            <h2 class="fs-2">Elevate your digital experience </h2>
            <p class="fw-light fs-5 pe-5 lh-lg">We offer a generous selection of laptops designed to enhance every aspect of your life. Whether you're a student, a professional, or a creative enthusiast, we have the perfect device for you. Our laptops boast the latest technology, ensuring you stay ahead in this fast-paced world. From ultra-portable models for on-the-go convenience to powerful machines for intensive tasks, we cater to all your needs.</p>
        </div>
        <div class="col-0 col-md-6">
            <img src="assets/images/slide-images/image-slider.png" alt=""
            style=
            "width: 100%;
            height: 100%;
            z-index: 100;">
        </div>
    </div>
</div>