    <div class="position-relative text-white text-center top-0" style="height: 100vh;">
        <div
        class="position-absolute w-100 h-100"
        style="background-image: url(assets/images/slide-images/image-slider.png);
     background-size:cover;
     background-repeat: no-repeat;
     background-position: center;">
    </div>
    
    <div class="position-absolute start-50 translate-middle" style="top: 30%;">
        <h2 style="font-size: 50px;">Empower your world, one click at a time.</h2>
        <p class="fs-5 pt-3">Unleash Unmatched Power and PerformanceDesigned for Modern Life, Built to Last</p>
        <button class="btn btn-primary mt-3 px-3" routerLink="/shop">
            Shop now
        </button>
    </div>
</div>
