<div class="container-fluid py-5 d-flex justify-content-center align-items-center text-white">
    <div class="p-5 text-center w-100 p-3 p-md-5 position-relative">
        <div class="main-image" style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(assets/images/slide-images/sign-up-image.png);"></div>
        <div class="position-absolute top-50 start-50 translate-middle">
                <form>
                    <h4>What you waiting for</h4>
                    <h3>Get Started Now</h3>
                    <div class="my-4">
                        <input type="email" class="form-control" placeholder="Email *" required>
                    </div>
                    <button class="btn btn-outline-light px-4">Get Started <i class="bi bi-arrow-bar-right"></i> </button>
                </form>
        </div>
    </div>
</div>>