<div class="container px-md-5 mx-md-5 my-3">
    <div class="row justify-content-between">
        
            <div class="col-12 col-md-6 ">
                <h2>Your cart</h2>
                <p>Not ready to ckeckout? <a routerLink="#" class="text-decoration-none text-dark">Continue Shopping</a></p>
                
                @for (item of productsInCart; track item.id){
                    <div class="product row mt-5 mb-2 justify-content-between">
                        <div class="col-md-4 col-12">
                            <img [src]="item.imageUrl" class=" w-100 align-self-start my-2">
                        </div>
                        <div class="col-6">
                            <h5>{{item.name}}</h5>
                            <p class="fs-6">Quantity: {{item.quantityUserTake}}</p>
                            <h5>{{ item.price | currency:'EGP':'code':'1.0-0' }}</h5>
                        </div>
                        <div class="col-2 align-self-end container">
                            <button class="btn btn-link text-dark" (click)="removeFromCart(item.id)">Remove</button>
                        </div>
    
                    </div>
                    @if(item!==productsInCart[productsInCart.length-1]){
                        <hr class="w-100">
                    } 

                }
              
               
            </div>
            <div class="col-12 col-md-5">
                <div class="my-5 me-md-5">
                    <h5>Order Summary</h5>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <p>Total</p>
                        <p> {{ calculateTotal() | currency:'EGP':'code':'1.0-0' }}</p>
                    </div>
                    <div>
                        <a routerLink="/payment" class="btn btn-dark rounded-0 w-100 my-4 py-3">Continue to checkout</a>
                    </div>
                </div>
              
            </div>
       
       

    </div>
</div>
