.main{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.126);
    /* height: 100vh; */
}

input{
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.126);
    margin-top: 8px;
    height: 2.4rem;
    width: 20vw;
    padding: 12px;
    color: rgba(128, 128, 128, 0.788);
    background-color: white;
}
.changePassword input{
    width: 45vw;
    height: 2.8rem;
    margin: 8px;
}

.circular{
    vertical-align: middle;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
