<div class=" rounded-3 p-5 col-12 col-md-8 text-center text-md-start w-100">
    <h1 class="mb-5">Account Details</h1>

    <div class="d-flex justify-content-between align-items-center">
        <div class=" d-flex align-items-center gap-3 mb-5">

            <div class="container text-center">
                <div class="avatar">{{avatar}}</div>
            </div>
            
            <div class="d-flex flex-column justify-content-start gap-1">
            <h5 class="m-0">{{firstName}} {{lastName}}</h5>
            <p class="text-secondary m-0 ">{{email}}</p>
           </div>
        </div>
        <Button  class="text-transparent border-0 d-flex align-items-center justify-content-center" (click)="handleLogOut()">
         <img src="assets/images/profile/logout.svg" class="me-2" style="width: 1.2rem;" alt="">
         <p class=" m-0 text-black" style="font-weight:400; font-size: 1.1rem;">Logout</p>
        </Button>
    </div>
    <form >
        <div class="d-flex mb-5">
            <div class="d-flex flex-column">
              <label for="firstName">First Name</label>
              <input type="text" name="firstName" id="firstName" [(ngModel)]="firstName" (input)="onFnameChange()" #fname class="border-0 rounded-3">
            </div>
            <div class="d-flex flex-column offset-1">
              <label for="lastName">Last Name</label>
              <input type="text" name="lastName" [(ngModel)]="lastName" (input)="onLnameChange()" #lname id="lastName" class="border-0 rounded-3">
            </div>
        </div>
        <div class="d-flex mb-5">
            <div class="d-flex flex-column">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" [(ngModel)]="email" #emailInp (input)="onEmailChange()" class="border-0 rounded-3">
              </div>
            <div class="d-flex flex-column offset-1">
            <label for="gender" class="form-label me-2">Gender:</label>
            <select name="gender" id="gender" (input)="onGenderChange()" #gendertype class="form-select text-secondary rounded-3 ">
            @if(gender === "Male"){
                <option value="Male" selected>Male</option>
                <option value="Female">Female</option>
            }@else {
                <option value="Male" >Male</option>
                <option value="Female" selected>Female</option>
            }
            </select>
        </div>
    </div>
        <div class="changePassword d-flex flex-column mb-5">
            <p class="fw-bold m-0">Password Changes</p>
            <input type="text" name="email" id="email" placeholder="Current password" class="border-0 rounded-3" type="password">
            <input type="text" name="email" id="email" placeholder="New password" class="border-0 rounded-3" type="password">
            <input type="text" name="email" id="email" placeholder="Confirm New password" class="border-0 rounded-3" type="password">
        </div>

        <div class="d-flex justify-content-between">
    <Button class="text-decoration-none text-danger bg-transparent border-0" (click)="handleDelete()">Delete My Account</Button>
    @if((fnameChanged || lnameChanged || emailChanged || genderChanged)
    ){
        <div class="buttons d-flex justify-content-end align-items-center ">
            <a href="#" class="text-decoration-none text-black me-4">
                Cancel
            </a>
            <button class="py-3 px-5 border-0 rounded-3 bg-primary text-white" (click)="updateData($event)">Save Changes</button>
        </div>
    }
        </div>
    </form>
</div>