<div class="bg-white rounded-4 d-flex flex-column d-none d-md-flex" style="height: 70vh; width: 90%;">
        <img src="assets/images/profile.jpg" alt="profile" class="circular align-self-center mt-3 mb-1">
        <p class="text-secondary m-0 text-center">Hello</p>
        <p class="fw-bold m-0 text-center">Jenny Wilson</p>
    <hr class="mx-4">
   <a routerLink="dashboard" routerLinkActive="selected" class="text-decoration-none rounded-5 p-2 w-75 d-flex align-items-center ms-4 my-2">
        <img src="assets/images/profile/dashboard.svg" class="me-2" style="width: 1.2rem;" alt="">
        <p class=" m-0 text-black" style="font-weight:400; font-size: 1.1rem;">Dashboard</p>
   </a>
    
   <a routerLink="ordersHistory" routerLinkActive="selected" class="text-decoration-none rounded-5 p-2 w-75 d-flex align-items-center ms-4 my-2">
        <img src="assets/images/profile/history.svg" class="me-2" style="width: 1.2rem;" alt="">
        <p class=" m-0 text-black" style="font-weight:400; font-size: 1.1rem;">Orders History</p>
   </a>
   
   <a routerLink="accountInfo" routerLinkActive="selected" class="text-decoration-none rounded-5 p-2 w-75 d-flex align-items-center ms-4 my-2">
        <img src="assets/images/profile/account.svg" class="me-2" style="width: 1.2rem;" alt="">
        <p class=" m-0 text-black" style="font-weight:400; font-size: 1.1rem;">Account Details</p>
   </a>
    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center mt-auto my-4 ">
            <img src="assets/images/profile/logout.svg" class="me-2" style="width: 1.2rem;" alt="">
            <p class=" m-0 text-black" style="font-weight:400; font-size: 1.1rem;">Logout</p>
    </a>
   
</div>