<div class="bg-black d-flex flex-column gap-5">
    <!--categories section-->
    <div>
        <div class="d-flex flex-column flex-xl-row gap-5 align-items-center justify-content-around py-5 flex-wrap">
                <div *ngFor="let category of categories" class="category-parent">
                    <a routerLink=""><!--link to the categories-->
                        <img [src]="category.image" [alt]="category.name" class="img-fluid w-100 py-3">
                        <div class="text-container bg-primary rounded-4 mt-1">
                            <h4 class="text-white text-center">{{category.name}}</h4>
                        </div>
                    </a>
                </div>
            </div>
    </div>
    
    <!--products section-->
    <!-- <h2 class="text-center fs-1 text-white mt-5">Best Seller</h2>
        <div routerLink="" class="d-flex flex-column flex-xl-row gap-5 align-items-center justify-content-around py-3 flex-wrap ">
          
            
            <div *ngFor="let product of products; let i = index" class="rounded-4 card product-card"
            (mouseenter)="showIcons(i)"
            (mouseleave)="hideIcons()"
            >

                <img [src]="product.image" [alt]="product.name">
                <div class="text-container mt-4 card-body d-flex justify-content-between">
                    <h4 class="text-black w-75 fs-4 ps-3">{{product.name}}</h4>
                    <div *ngIf="indexed === i " class="d-flex flex-column gap-2 fs-5 icon-container" style="display: none;">
                        <i routerLink="" class="btn  btn-outline-primary bi bi-heart"></i>
                        <i routerLink="" class="btn  btn-outline-primary bi bi-bag"></i>
                    </div>
                </div>
                <hr
                class="w-75 m-auto">
                <div>
                    <h5 class="ps-3 text-primary fs-3 mt-5 mb-3"><sup class="fw-light pe-1"><small>EGP</small></sup>{{product.price}}</h5>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center gap-5">
            <button class="btn btn-outline-light rounded-circle"><i class="bi bi-arrow-left fs-4"></i></button>
            <button class="btn btn-outline-light rounded-circle"><i class="bi bi-arrow-right fs-4"></i></button>
        </div> -->
</div>
